body,
html {
    height: 100;
    margin: 0;
    font-size: 1em;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.8em;
    color: #666;
    scroll-behavior: smooth;
}

/********NAVBAR **********************************************/

ul {
    margin: 0;
    padding: 0;
    display: flex;
    background: rgba(51, 51, 51, 0.8);
    justify-content: center;
    align-items: center;
    padding: 1.1em;

}

ul li {
    list-style: none;
    margin: 0 20px;
    transition: 0.5s;
}

ul li a {
    display: inline-block;
    text-decoration: none;
    padding: 5px;
    font-size: 1.2em;
    color: #fff;
    text-transform: uppercase;
    transition: 0.5s;
}

ul:hover li a {
    transform: scale(1.5);
    opacity: .2;
    filter: blur(5px);
}

ul li a:hover {
    transform: scale(2);
    opacity: 1;
    filter: blur(0);
}

ul li a:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ff497c;
    transition: transform 1s;
    transform-origin: right;
    transform: scaleX(0);
    z-index: -1;

}

ul li a:hover:before {
    transition: transform 1s;
    transform-origin: left;
    transform: scaleX(1);

}

nav {
    display: none;
}

#menu:checked ~ nav {
    display: block;

}

#menu {
    display: none;

}

.burgerMenu {
    float: right;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    color: yellowgreen;
    margin-right: 1.5em;
    margin-top: .5em;
    font-size: 2em;
    cursor: pointer;
}


/******** end of navbar NAVBAR  **********************************************/



/******** home page and sections **********************************************/



.pimg1,
.pimg2,
.pimg3,
.pimg4, .aboutIMG {
    position: relative;
    opacity: 0.70;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    background-attachment: fixed;
    /* if YOU WANT TO REMOVE THE PARALLAX EFFECT THEN DO THIS :D
    fixed = parallax
    scroll = normal
    */
}


.pimg1 {
    background-image: url(images/landing.jpeg);
    min-height: 100vh;

}

.pimg2 {
    background-image: url(images/middle.jpeg);
    min-height: 45vh;

}

.pimg3 {
    background-image: url(images/last.jpeg);
    min-height: 45vh;
}

.pimg4 {
    background-image: url(images/closing.jpeg);
    min-height: 100vh;

}.aboutIMG {
    background-image: url(images/team.jpg);
    min-height: 100vh;

}

.section {
    text-align: center;
    padding: 50px 80px;

}

.section-light {
    background-color: #f4f4f4;
    color: #666;
}

.section-dark {
    background-color: #282e34;
    color: #ddd;
}

.ptext {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
    font-size: 1.1em;
    letter-spacing: 5px;
    text-transform: uppercase;
}



.ptext .border {
    background-color: #111;
    color: #fff;
    padding: 1.2em;

}

.ptext .border.transp {
    background-color: transparent;

}

#aboutText{
    animation:glow 2s alternate infinite;
  cursor: pointer;
}

@keyframes glow {
  from {
    box-shadow: 0 0 10px -10px #aef4af;
  }
  to {
    box-shadow: 0 0 10px 10px #a4f287;
  }
}


/******** end of  home page and sections **********************************************/





/******** About us card **********************************************/



.wrapper {
    display: grid;
          grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
          grid-gap: 2em;
    padding: 0 1em;
     padding-top: 1em;
    padding-bottom: 1em;

}

.card {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 340px;
    transform-style: preserve-3d;
    perspective: 600px;
    transition: 0.5s;
    display: none;



}

.card .front {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    backface-visibility: hidden;
    transform: rotateX(0deg);
    transition: 0.5s;
}

.card:hover .front {
    transform: rotateX(-180deg);



}




.card .back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    backface-visibility: hidden;
    transform: rotateX(180deg);
    transition: 0.5s;
    overflow-x: hidden;

}


.card:hover .back {
    transform: rotateX(0deg);



}

.card .back:before {
    content: "";
    position: absolute;
    top: 0;
    left: -50%;
    width: 100%;
    height: 100%;
    background: rgba(225, 225, 225, 0.2);




}

.card .back .details {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}

.card .back .details h2 {
    margin: 0;
    padding: 0;
    font-size: 24px;
    color: #fff;
}


.card .back .details h2 span {
    color: #a7a7a7;
    font-size: 16px;
}






.logo {
    width: 125px;
    height: 125px;
    position: absolute;
    z-index: 1;
    margin-left: 1em;
    margin-top: .5em;
    cursor: pointer;
}



/******** quote box **********************************************/

.box {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
    height: 350px;
    transform-style: preserve-3d;
    perspective: 2000px;
    transition: 0.5s;
}

.box:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    border-top: 20px solid #fff;
    border-left: 20px solid #fff;
    box-sizing: border-box;
}

.box:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    border-bottom: 20px solid #fff;
    border-right: 20px solid #fff;
    box-sizing: border-box;
}



.box .text {
    position: absolute;
    top: 30px;
    left: -30px;
    background: #262626;
    width: calc(100% + 60px);
    height: calc(100% - 60px);
    transition: 0.5s;
}

.box:hover .text {
    transform: rotateY(20deg) skewY(-5deg);


}

.box:hover {
    transform: translate(-50%, -50%) rotateY(-30deg) skewY(5deg);


}

.text div {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    transform: translateY(-50%);
    padding: 40px 80px;
    box-sizing: border-box;
    text-align: center;
    z-index: 3;
}

.text div h1 {
    margin: 0 0 20px;
    padding: 0;
    color: #fff;
}

.text div p {
    margin: 0 0 20px;
    padding: 0;
    color: #fff;
    font-size: 1.2em;


}

#spansQ {
    width: 30px;
    height: 30px;
    background: #fff;
    color: #262626;
    text-align: center;
    line-height: 80px;
    font-size: 100px;
    position: absolute;
    font-weight: 900;
    padding: 23px;
}


.quote1 {
    top: 0;
    left: 0;
}

.quote2 {
    bottom: 0;
    right: 0;
    z-index: 1;
}
.wrapperQuote {
    position: relative;
     display: grid;
          grid-template-columns: repeat(auto-fit, minmax(500px, 2fr));
          grid-gap: 2em;
    margin-top: 1em;


}

/******** end of quote box **********************************************/

#ourTeam {
    background-color: rgba(51, 51, 51, 0.8);


}


@media all and (max-width: 865px) {

    ul {
        display: block;
        text-align: center;
    }

    ul a {
        margin: .5em;
    }

    nav{
        position: relative;
        z-index: 3;


}
    .burgerMenu {
        z-index: 4;
}



}

