body,
html {
    overflow-x: hidden;
    height: 100;
    margin: 0;
    font-size: 1em;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.8em;
    color: #666;
    background-color: #3C6D65;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
}


#ourTeam {
    background-color: rgba(51, 51, 51, 0.8);


}

/********NAVBAR **********************************************/

ul {
    margin: 0;
    padding: 0;
    display: flex;
    background: rgba(51, 51, 51, 0.8);
    justify-content: center;
    align-items: center;
    padding: 1.1em;

}

ul li {
    list-style: none;
    margin: 0 20px;
    transition: 0.5s;
}

ul li a {
    display: inline-block;
    text-decoration: none;
    padding: 5px;
    font-size: 1.2em;
    color: #fff;
    text-transform: uppercase;
    transition: 0.5s;
}

ul:hover li a {
    transform: scale(1.5);
    opacity: .2;
    filter: blur(5px);
}

ul li a:hover {
    transform: scale(2);
    opacity: 1;
    filter: blur(0);
}

ul li a:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ff497c;
    transition: transform 1s;
    transform-origin: right;
    transform: scaleX(0);
    z-index: -1;

}

ul li a:hover:before {
    transition: transform 1s;
    transform-origin: left;
    transform: scaleX(1);

}

nav {
    display: none;
}

#menu:checked ~ nav {
    display: block;

}

#menu {
    display: none;

}#menu1:checked ~ nav {
    display: block;

}

#menu1 {
    display: none;

}

.burgerMenu {
    float: right;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    color: yellowgreen;
    margin-right: 1.5em;
    margin-top: .5em;
    font-size: 2em;
    cursor: pointer;
}


/******** end of navbar NAVBAR  **********************************************/



/******** home page and sections **********************************************/




.pimg0,
.pimg2,
.aboutIMG {
    position: relative;
    opacity: 0.70;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    background-attachment: fixed;
    /* if YOU WANT TO REMOVE THE PARALLAX EFFECT THEN DO THIS :D
    fixed = parallax
    scroll = normalllllll
    */
}

.pimg1 {
    position: relative;
    opacity: 0.70;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(images/pig_1-3.png);
    min-height: 85vh;
    background-attachment: fixed;
    /* if YOU WANT TO REMOVE THE PARALLAX EFFECT THEN DO THIS :D
    fixed = parallax
    scroll = normal
    */
}

.pimg4 {
    position: relative;
    opacity: 0.70;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    min-height: 65vh;
    background-image: url(images/Anima_logo3.png);

    background-attachment: fixed;
    /* if YOU WANT TO REMOVE THE PARALLAX EFFECT THEN DO THIS :D
    fixed = parallax
    scroll = normal
    */
}

.pimg5 {
    position: relative;
    opacity: 0.70;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(images/barn.png);
    min-height: 85vh;
    background-attachment: fixed;
    /* if YOU WANT TO REMOVE THE PARALLAX EFFECT THEN DO THIS :D
    fixed = parallax
    scroll = normal
    */



}

.pimg0 {
    background-image: url(images/blackberries.jpg);
    min-height: 90vh;



}


.pimg2 {
    background-image: url(images/lars.jpg);
    min-height: 70vh;

}


.aboutIMG {
    background-image: url(images/team.jpg);
    min-height: 62vh;

}

.section {
    text-align: center;
    padding: 50px 80px;

}

.section-light {
    background-color: #f4f4f4;
    color: #666;
}

.section-dark {
    background-color: #282e34;
    color: #ddd;
}

.ptext {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
    font-size: 1.1em;
    letter-spacing: 5px;
    text-transform: uppercase;
}



.ptext .border {
    background-color: #111;
    color: #fff;
    padding: 1.2em;

}

.ptext .border.transp {
    background-color: transparent;

}

#aboutText {
    animation: glow 2s alternate infinite;
    cursor: pointer;
}

#aboutText:hover {
    background-color: #ff497c;
}


@keyframes glow {
    from {
        box-shadow: 0 0 10px -10px #aef4af;
    }

    to {
        box-shadow: 0 0 10px 10px #a4f287;
    }
}


/******** end of  home page and sections **********************************************/





/******** About us card **********************************************/



.wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
    grid-gap: 2em;
    padding: 0 1em;
    padding-top: 1em;
    padding-bottom: 1em;

}

.card {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 340px;
    transform-style: preserve-3d;
    perspective: 600px;
    transition: 0.5s;



}

.card .front {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    backface-visibility: hidden;
    transform: rotateX(0deg);
    transition: 0.5s;
}

.card:hover .front {
    transform: rotateX(-180deg);



}




.card .back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    backface-visibility: hidden;
    transform: rotateX(180deg);
    transition: 0.5s;
    overflow-x: hidden;

}


.card:hover .back {
    transform: rotateX(0deg);



}

.card .back:before {
    content: "";
    position: absolute;
    top: 0;
    left: -50%;
    width: 100%;
    height: 100%;
    background: rgba(225, 225, 225, 0.2);




}

.card .back .details {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}

.card .back .details h2 {
    margin: 0;
    padding: 0;
    font-size: 24px;
    color: #fff;
}


.card .back .details h2 span {
    color: #a7a7a7;
    font-size: 16px;
}






.logo {
    width: 125px;
    height: 125px;
    position: absolute;
    z-index: 1;
    margin-left: 1em;
    margin-top: .5em;
    cursor: pointer;
}



/******** quote box **********************************************/

.box {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
    height: 350px;
    transform-style: preserve-3d;
    perspective: 2000px;
    transition: 0.5s;
}

.box:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    border-top: 20px solid #fff;
    border-left: 20px solid #fff;
    box-sizing: border-box;
}

.box:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    border-bottom: 20px solid #fff;
    border-right: 20px solid #fff;
    box-sizing: border-box;
}



.box .text {
    position: absolute;
    top: 30px;
    left: -30px;
    background: #262626;
    width: calc(100% + 60px);
    height: calc(100% - 60px);
    transition: 0.5s;
}

.box:hover .text {
    transform: rotateY(20deg) skewY(-5deg);


}

.box:hover {
    transform: translate(-50%, -50%) rotateY(-30deg) skewY(5deg);


}

.text div {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    transform: translateY(-50%);
    padding: 40px 80px;
    box-sizing: border-box;
    text-align: center;
    z-index: 3;
}

.text div h1 {
    margin: 0 0 20px;
    padding: 0;
    color: #fff;
}

.text div p {
    margin: 0 0 20px;
    padding: 0;
    color: #fff;
    font-size: 1.2em;


}

#spansQ {
    width: 30px;
    height: 30px;
    background: #fff;
    color: #262626;
    text-align: center;
    line-height: 80px;
    font-size: 100px;
    position: absolute;
    font-weight: 900;
    padding: 23px;
}


.quote1 {
    top: 0;
    left: 0;
}

.quote2 {
    bottom: 0;
    right: 0;
    z-index: 1;
}

.wrapperQuote {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 2fr));
    grid-gap: 2em;
    margin-top: 1em;


}

/******** end of quote box **********************************************/


/******** preloader **********************************************/
.spinner {
    width: 80px;
    height: 80px;
    border: 2px solid #333;
    position: absolute;
    border-radius: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border-top: 3px solid #FEA83A;
    animation: spin 1s infinite linear;
}


@keyframes spin {

    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);

    }






}

#overlay {
    height: 100%;
    width: 100%;
    background: #495761;
    z-index: 9999;
    position: fixed;
    left: 0;
    top: 0;
}

.overlayPicture {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 35vh;
    width: 35vh;
}

/********end of preloader */
/**********************************************/

/********HOMEPAGE**********************************************/


#wrapperLars {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(550px, 2fr));


}

.cardHp {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 340px;
    transform-style: preserve-3d;
    perspective: 600px;
    transition: 0.5s;



}

.cardHp .front {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    backface-visibility: hidden;
    transform: rotateX(0deg);
    transition: 0.5s;
}

.cardHp:hover .front {
    transform: rotateX(-180deg);



}




.cardHp .back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    backface-visibility: hidden;
    transform: rotateX(180deg);
    transition: 0.5s;
    overflow-x: hidden;

}


.cardHp:hover .back {
    transform: rotateX(0deg);



}

.cardHp .back:before {
    content: "";
    position: absolute;
    top: 0;
    left: -50%;
    width: 100%;
    height: 100%;
    background: rgba(225, 225, 225, 0.2);




}

.cardHp .back .details {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}

.cardHp .back .details h2 {
    margin: 0;
    padding: 0;
    font-size: 24px;
    color: #fff;
}


.cardHp .back .details h2 span {
    color: #FEA73B;
    font-size: 20px;
}


.backP {
    color: #fff;
}


.wrapperHome {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 2fr));
    grid-gap: 2em;
    padding: 0 1em;
    padding-top: 1em;
    padding-bottom: 1em;
}


/********end of HOMEPAGE**********************************************/


/* recipes page /////////////////////////////////////*/

.description {
    color: #333;
    margin-left: .5em;

}

.h1Recipes {
    color: #fff;
    text-align: center;
    font-weight: 900;
    font-size: 3em;
}

.headH2 {
    color: #333;
    text-align: center;
}

.recipeImg {
    width: 100%;
    height: 100%;

}

#wrapperRecipes {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(440px, 2fr));
    grid-gap: 1.5em;


}

#dishes0,
#dishes1,
#dishes2,
#dishes3,
#dishes4,
#dishes5 {
    margin: 1em;
    border: 2px solid #fff;
    background-color: #fff;
    border-radius: 5%;
    overflow: hidden;
    transition: all .3s ease-in-out;
}

#dishes0:hover,
#dishes1:hover,
#dishes2:hover,
#dishes3:hover,
#dishes4:hover,
#dishes5:hover {
    transform: scale(0.9);
}

.modal {
    display: none;
    width: 100%;
    position: fixed;
    height: 100%;
    z-index: 4;
    left: 0;
    top: 0;
    overflow: auto;
    background-color: rgba(0, 0, 0, .5);
}

#modal h2 {
    margin: 0;
}

.modalImg {
    max-height: 50vh;
    border-radius: 5%;


}




.modal-content {
    background-color: #f4f4f4;
    margin: 20% auto;
    width: 60%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, .2), 0 7px 20px 0 rgba(0, 0, 0, .17);
    animation: modalOpening;
    animation-duration: 1.5s;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    padding: 10px 20px;
    border-radius: 7px;

}

@keyframes modalOpening {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }

}

.closeBtn, .closeBtn1,.closeBtn2, .closeBtn3,.closeBtn4, .closeBtn5 {
    color: gray;
    font-size: 2em;
}

.closeBtn:hover, .closeBtn1:hover, .closeBtn2:hover, .closeBtn3:hover, .closeBtn4:hover, .closeBtn5:hover {
    color: #000;
    cursor: pointer;
}







/* end of recipes page /////////////////////////////////////*/


/* mediaqueries /////////////////////////////////////*/

@media all and (max-width: 1100px) {
    .modal-content {
        display: block;
        grid-template-columns: none;
        grid-auto-rows: 1fr 1fr;
    }

    .modalImg {
        max-height: 40vh;

    }



}


@media all and (max-width: 865px) {

    ul {
        display: block;
        text-align: center;
    }

    ul a {
        margin: .5em;
    }

    nav {
        position: relative;
        z-index: 3;


    }

    .burgerMenu {
        z-index: 4;
    }

    .pimg2 {

        background-image: url(images/larsMobile.jpg);
        background-position: center;
    }


}

@media all and (min-width: 865px) {
    #slider figure img {
        float: left;
        width: 20%;
        min-height: 65vh;
        width: 1024px;
        height: 734px
    }


}


@media all and (max-width: 768px) {

    .card:hover .front,
    .card:active .front {
        transform: rotateX(-180deg);
    }

    .card:hover .back,
    .card:active .back {
        transform: rotateX(0deg);

    }

    .cardHp:hover .front,
    .cardHp:active .front {
        transform: rotateX(-180deg);
    }

    .cardHp:hover .back,
    .cardHp:active .back {
        transform: rotateX(0deg);

    }





}



@media all and (max-width: 700px) {
    #wrapperLars {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(400px, 2fr));
    }

    #wrapperRecipes {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(325px, 2fr));
        grid-gap: 1.5em;
    }

    .modal-content {
        width: 90%;

    }

    .modal-content {
        display: block;
        grid-template-columns: none;
        grid-auto-rows: 1fr 1fr;
    }



}


@media all and (max-width: 425px) {
    .wrapperHome {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 2fr));
    grid-gap: 2em;
    padding: 0 1em;
    padding-top: 1em;
    padding-bottom: 1em;
}

}


@media all and (max-width: 365px) {
    .modalImg {
        max-height: 30vh;

    }
}




/*  end ofmediaqueries /////////////////////////////////////*/


/*  slider for the pictures /////////////////////////////////////*/

#slider {
    overflow: hidden;

}

#slider figure {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: 20s slider infinite;
}

#slider figure img {
    float: left;
    width: 20%;


}

@keyframes slider {
    0% {
        left: 0;
    }

    20% {
        left: 0;
    }

    25% {
        left: -100%;
    }

    45% {
        left: -100%;
    }

    50% {
        left: -200%;
    }

    70% {
        left: -200%;
    }

    75% {
        left: -300%;
    }

    90% {
        left: -300%;
    }

    100% {
        left: -400%;
    }


}

/*  end of slider for the pictures /////////////////////////////////////*/




